.container {
    text-decoration: none;
    max-width: 100%;
}
.wrapper {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: 24px;
    padding: 3px 10px;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 12px;
    background: rgb(255, 255, 255);
    margin-bottom: 12px;
    margin-right: 8px;
}
.icon {
    flex-shrink: 0;
    display: flex;
}

.content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 6px;
}
.dark {
    .wrapper {
        background-color: rgba(255, 255, 255, 0.08);
        transition: background-color 200ms ease-in-out 0s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.04);
        }
    }
    .icon,
    .content {
        color: var(--text-white);
    }
}
