.wrapper {
  font-family: 'ProximaNova', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  min-width: 100px;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  user-select: none;
  background-color: transparent;
  text-decoration: none;
  + .wrapper {
    margin-left: 8px;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgb(22, 24, 35, 0.12);
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    border-color: rgba(22, 24, 35, 0.2);
  }
}
.primary {
  cursor: pointer;
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  cursor: pointer;
  background-color: var(--white);
  border-color: var(--primary);
  color: var(--primary);
  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.small {
  min-width: 88px;
  padding: 4px 16px;
}
.large {
  min-width: 116px;
  padding: 14px 16px;
}
.text {
  cursor: pointer;
  background-color: transparent;
  &:hover {
    text-decoration: underline;
  }
}
.divbox {
  cursor: pointer;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    text-decoration: none;
  }
  .icon {
    margin: 0;
  }
  .title {
    margin: 0;
  }
}
.dark {
  background: rgba(255, 255, 255, 0.08);
  color: var(--text-white);
  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
}
