.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
}
.body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: 80%;
    max-height: 694px;
    min-width: 375px;
    max-width: 484px;
    padding-top: 48px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    border-radius: 8px;

    animation: scaleModal 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.closeBtn {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: rgba(22, 24, 35, 0.03);
    width: 41px;
    height: 41px;
    border-radius: 50%;
    cursor: pointer;
}
.closeIcon {
    width: 20px;
    height: 20px;
}

.back-btn {
    position: absolute;
    left: 16px;
    top: 16px;
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.back-icon {
    width: 20px;
    height: 20px;
}
.content {
    overflow-y: overlay;
    width: 484px;
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0 52px;
    margin-bottom: 64px;
}
.header {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    margin: 16px 0px;
    font-weight: 600;
    font-family: IBM Plex Sans, sans-serif;
}
.divBoxBtn {
    display: flex;
    font-size: inherit;
    height: 44px;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0 12px;
    width: 100%;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: #d0d1d3;
    }
}
.icon {
    width: 20px;
    height: 20px;
}
.title {
    flex: 1 1;
    font-size: 15px;
    font-weight: 600;
}

.footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.register {
    color: var(--primary);
    cursor: pointer;
    font-weight: 600;
    margin-left: 4px;
    &:hover {
        text-decoration: underline;
    }
}

.disable {
    background-color: #f5f5f5;
    opacity: 0.5;
    cursor: default;
    .title {
        color: #323232;
    }
    &:hover {
        background-color: #f5f5f5;
    }
}

.unmount-animation {
    opacity: 1;
    .body {
        scale: 1;
        transition: all 300ms ease-in;
    }
    transition: all 300ms ease-in;
}

.unmount-animation.unmount {
    opacity: 0;
    .body {
        scale: 0;
        transition: all 300ms ease-in;
    }
}

.dark {
    background-color: #252525;
    .header {
        color: var(--text-white);
    }

    .divBoxBtn {
        background-color: hsla(0, 0%, 100%, 0.08);
        color: var(--text-white);
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.04);
        }
    }
    .closeBtn {
        background-color: hsla(0, 0%, 100%, 0.04);
    }

    .closeIcon {
        color: var(--text-white);
    }
    .disable {
        background-color: #707070;
        color: #323232;
        pointer-events: none;
    }
    .footer {
        background-color: #252525;
        border-top: 1px solid hsla(0, 0%, 100%, 0.12);
        color: var(--text-white);
    }
    .form-header,
    .form-input,
    .forgot-pass,
    .step-item,
    .confirm-desc {
        color: #ffffffe6;
    }
    .form-input {
        background-color: hsla(0, 0%, 100%, 0.122);
        border: 1px solid hsla(0, 0%, 100%, 0.12);
    }
    .submit-btn {
        background-color: hsla(0, 0%, 100%, 0.122);
        color: hsla(0, 0%, 100%, 0.34);
    }
    .back-icon {
        color: var(--text-white);
    }
}

@keyframes scaleModal {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

// Login By Phone Number

.form-input {
    display: flex;
    align-items: center;
    height: 44px;
    margin: 9px 0px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    input {
        background-color: transparent;
        caret-color: var(--primary);
        color: inherit;
        flex-grow: 1;
        font-size: 16px;
        height: 100%;
        padding-left: 12px;
    }
}
.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--text-black);
    label {
        font-weight: 600;
        font-size: 15px;
    }
}

.forgot-pass {
    color: rgba(22, 24, 35, 0.75);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}
.submit-btn {
    min-height: 46px;
    width: 100%;
    background-color: rgba(22, 24, 35, 0.06);
    color: rgba(22, 24, 35, 0.34);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 4px;
    border: none;
}

.primary {
    background-color: var(--primary) !important;
    color: var(--text-white) !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

// login by QR

.qr-container {
    display: flex;
    margin-top: 48px;
}
.qr-left {
    width: 180px;
    flex-shrink: 0;
}
.qr-image {
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    height: 180px;
    padding: 12px;
    width: 180px;
    img {
        width: 100%;
    }
}
.step-list {
    margin-top: 24px;
}
.step-item {
    color: #161823;
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 1.5;
    align-items: center;
}

.qr-right {
    margin-left: 20px;
}
.qr-login-gif {
    height: 270px;
}

// register by phone number

.form-confirm {
    display: flex;
    margin: 9px 0px;
}
.confirm-desc {
    font-size: 12px;
    line-height: 16px;
    margin-left: 8px;
    text-align: justify;
}
