.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  inset: 0px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.box-status {
  transform: none;
  width: 400px;
  height: 260px;
  left: 248.5px;
  top: 569.5px;

  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.header {
  box-sizing: border-box;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: TikTokFont, system-ui;
  text-align: center;
  padding: 0px 32px;
  color: rgb(22, 24, 35);
  flex: 0 0 auto;
  order: 0;
  -webkit-box-flex: 0;
  word-break: break-word;
}
.btn-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px 32px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 12px;
}
.act-btn {
  width: 336px;
  height: 48px;
  border-radius: 4px;
  flex-grow: 0;
  display: flex;
  font-size: 16px;
  line-height: 22px;
}
.progress-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 32px 0 32px;
  align-items: center;
}

.loading {
  position: relative;
  width: 80px;
  height: 80px;
}
.cicle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  // border: 5px solid conic-gradient(var(--primary) 0% 75%, #ecf0f1 75% 100%);
  background: conic-gradient(var(--primary) 0% var(--percent), #ecf0f1 var(--percent) 100%);
}
.over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.percent {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 22px;
  height: 22px;
  color: var(--text-color);
  font-weight: 600;
}
.status-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}
.description {
  margin-top: 4px;
  text-align: center;
  font-size: 16px;
  color: rgba(22, 24, 35, 0.75);
}
