.wrapper {
  width: 1100px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 24px 40px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
}
.header {
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
  line-height: 1.5;
}
.description {
  font-size: 16px;
  color: var(--text-gray);
  margin-top: 3px;
}
.body {
  display: flex;
}

.adjustment {
  flex: 1;
  padding-left: 24px;
}
.input-wrap {
  display: flex;
  justify-content: space-between;

  .count {
    font-size: 14px;
    color: var(--text-gray);
  }
}
.input-box {
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 4px;
  margin-top: 4px;
  min-height: 46px;
  padding: 0 50px 0 16px;
  position: relative;
  input {
    width: 100%;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 600;
  }
  .edit-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
  }
}

.drop-down-menu {
  position: relative;
  border: 1px solid rgba(22, 24, 35, 0.12);
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 4px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 300px;
}
.arrow-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 6px;
}
.menu-wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  width: 300px;
  z-index: 99;
  padding-bottom: 8px;
}
.menu-item {
  justify-content: left;
  padding: 10px 12px;
}

.checkbox {
  accent-color: var(--primary);
  border: 1px solid var(--primary);
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 12px;
}
.allow-group {
  display: flex;
  align-items: center;
  &:not(:first-child) {
    margin-left: 32px;
  }
}
.coppyright-desc {
  line-height: 1.8;
  font-size: 12px;
  color: rgba(22, 24, 35, 0.75);
}
.bottom-btn {
  width: 164px;
  height: 48px;
  margin-right: 16px;
}
