.wrapper {
    overflow-y: overlay;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex: 0 0 728px;
    box-sizing: border-box;
    padding: 16px 24px 24px;
    z-index: 1;
    &::-webkit-scrollbar {
        display: none;
    }
}
.row-content {
    display: block;
    position: relative;
    padding-bottom: 16px;
    word-break: break-all;
    &:nth-child(n + 2) {
        margin-top: 32px;
    }
}

.row-content::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 200%;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    transform: matrix(1, 0, 0, -1, 0, 0) scale(0.5);
    transform-origin: left;
    bottom: 0;
    left: 0;
}
.div-manage-container {
    position: relative;
    padding-top: 8px;
}

.body {
    position: relative;
}
.title {
    font-family: 'IBM Plex Sans', Arial, Tahoma, proxima-semibold, PingFangSC, sans-serif, 'Segoe UI Emoji',
        'Noto Emoji';
    font-size: 24px;
    line-height: 32px;
    margin: 0 8px 20px;
    font-weight: 700;
    color: rgba(22, 24, 35, 1);
}
.title-mini {
    font-family: 'IBM Plex Sans', Arial, Tahoma, proxima-semibold, PingFangSC, sans-serif, 'Segoe UI Emoji',
        'Noto Emoji';
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(22, 24, 35, 1);
    margin: 0 16px 12px;
}
.option {
    font-size: 16px;
    line-height: 22px;
    color: rgba(22, 24, 35, 1);
    margin: 0 16px;
}
.delete-btn {
    font-size: 16px;
    line-height: 22px;
    margin: 0 16px;
    color: #fe2c55;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    right: 0;
}
.description {
    font-size: 12px;
    line-height: 15px;
    color: rgba(22, 24, 35, 0.6);
    margin-right: 84px;
    margin-left: 16px;
    font-weight: 400;
}
.switch-btn-container {
    display: inline-flex;
    position: absolute;
    top: 32px;
    margin: 0 16px;
    right: 0;
}

.right-icon-container {
    display: inline-flex;
    position: absolute;
    top: 90%;
    margin: 0 16px;
    transform: translateY(-50%);
    right: 0;
    :hover {
        cursor: pointer;
    }
}

.right-icon {
    fill: rgb(22, 24, 35);
    fill-opacity: 0.5;
    width: 16px;
    height: 16px;
}

.push-margin {
    height: 36px;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 200%;
        height: 1px;
        background: rgba(22, 24, 35, 0.2);
        top: 16px;
        left: 0px;
        transform: scale(0.5);
        transform-origin: left center;
    }
}
.setting-option {
    margin: 16px 16px 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(22, 24, 35);
}
.subtitle {
    font-family: 'IBM Plex Sans', Arial, Tahoma, proxima-semibold, PingFangSC, sans-serif, 'Segoe UI Emoji',
        'Noto Emoji';
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgb(22, 24, 35);
    margin: 0px 16px 12px;
}
