.container {
    position: relative;
}
.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0px !important;
        justify-content: flex-start;
        padding: 11px 16px;
        line-height: 18px;
    }
}
.menu-popper {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    max-height: min(100vh - 96px - 60px, 734px);
}
.menu-body {
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
}
.menu-item {
    width: 100%;
    border-radius: 0;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.switch-btn {
    position: absolute;
    right: 8px;
    bottom: 10%;
}
/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
//  mobile
@media (max-width: 740px) {
}
