.container {
    color: rgba(22, 24, 35, 1);
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-size: 15px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
    word-break: keep-all;
    white-space: nowrap;
    background: rgba(255, 255, 255, 1);
}
.icon {
    left: 12px;
    font-size: 20px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.content {
    color: rgba(22, 24, 35, 1);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
