.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    height: var(--search-height);
    border-radius: 92px;
    padding-left: 16px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        font-size: 16px;
        padding-right: 40px;
        border: none;
        background-color: transparent;
        outline: none;
        height: 100%;
        color: var(--black);
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    input:not(:placeholder-shown) ~ .clear {
        display: block;
    }
    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - 18px);
        width: 1px;
        top: 9px;
        right: 52px;
        background-color: #ccc;
    }
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.12);
    }
}
.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 14px;
    font-weight: 600;
}
.logo {
    display: flex;
    cursor: pointer;
}

.clear {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    // display: none;
}
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    font-size: 14px;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: 52px;
    height: 100%;
    cursor: pointer;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 16px;
    color: #a6a7ac;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.062);
    }
}

.dark {
    background-color: rgba(255, 255, 255, 0.12);
    input {
        color: rgba(255, 255, 255, 0.9);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(255, 255, 255, 0.75);
    }
    .clear {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.34);
    }
    .loading {
        color: rgba(255, 255, 255, 0.34);
    }
    .search-btn {
        background-color: rgba(22, 24, 35, 0.03);
        &:hover {
            background: rgba(255, 255, 255, 0.12);
        }
    }
    &::after {
        background: rgba(255, 255, 255, 0.12);
    }
}

.dark {
    .search-title {
        color: rgba(255, 255, 255, 0.75);
    }

    .search-wrapper {
        background: rgb(37, 37, 37);
        transition: all ease-in 200ms;
    }
}
/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
//  mobile
@media (max-width: 740px) {
    .search-container {
        display: none;
    }
}
