.wrapper {
    padding: 20px 0;
    position: relative;
    display: flex;
    width: 624px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}
.video_content {
    margin-left: 12px;
}
.video_heaer {
    display: flex;
    // flex-direction: column;
    margin-right: 114px;
}
.profile {
    .user_profile {
        display: flex;
        text-decoration: none;
    }
    .nickname {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        display: inline-block;
        text-decoration: none;
        margin-right: 4px;
    }
    .name {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        line-height: 28px;
    }
}
.video_desc {
    line-height: 22px;
    font-size: 16px;
    word-break: break-word;
    .title {
        font-size: 16px;
        font-weight: 400;
        color: rgba(22, 24, 35, 1);
    }
    a {
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.music_info {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;
}
.music_icon {
    margin-right: 5px;
}

.follow-btn {
    padding: 0 10px;
    height: 28px;
    width: 88px;
    position: absolute;
    right: 0;
    top: 28px;
}
.video_main {
    display: flex;
    align-items: flex-end;
    video {
        height: 510px;
        border-radius: 8px;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        max-width: 100%;
    }
}
.player-container {
    position: relative;
    height: 510px;
    margin-right: 20px;
}
.player-container:hover {
    .play-icon-wrapper {
        display: flex;
    }
}

.play-icon-wrapper {
    display: none;
    color: #fff;
    left: 12px;
    position: absolute;
    bottom: 12px;
    padding: 10px;
    width: 40px;
    height: 40px;
    bottom: 26px;
    animation: fade 0.5s ease;
    cursor: pointer;

    .play-icon {
        width: 20px;
        height: 20px;
    }
}
@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
.volume-icon-wrapper {
    position: absolute;
    bottom: 26px;
    right: 12px;
    left: unset;

    color: #fff;
    display: flex;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    .volume-icon {
        width: 20px;
        height: 20px;
    }
}
.volume-container {
    width: 24px;
    height: 64px;
    margin: 8px 7px 0px;
    display: block;
    position: relative;
    cursor: initial;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
}
.volume-control {
    -webkit-appearance: none; /* Override default CSS styles */
    background-color: rgba(255, 255, 255, 0.34);
    transform: rotate(-90deg);
    width: 48px;
    height: 2px;
    position: absolute;
    left: -12px;
    top: 29px;
    bottom: 8px;
    cursor: pointer;
    border-radius: 4px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    z-index: 1;
}

.action_group {
    display: flex;
    flex-direction: column;
}
.action_btn {
    display: flex;
    flex-direction: column;
}

.action_btn_bg {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 0px;
    border-radius: 50%;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    background-color: rgba(22, 24, 35, 0.06);
    margin-top: 8px;
    margin-bottom: 6px;
    cursor: pointer;
}
.icon {
    color: #000;
    font-size: 24px;
}
.count {
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}

@keyframes scale {
    0% {
        scale: 0;
    }
    50% {
        scale: 1.2;
    }
    80% {
        scale: 0.85;
    }
    100% {
        scale: 1;
    }
}
.liked-icon {
    animation: scale 0.7s ease;
}
/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
//  mobile
@media (max-width: 740px) {
    .wrapper {
        width: calc(100vw - 32px - 68px);
        max-width: 592px;
    }
}
