.wrapper {
    flex: 0 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 490px;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: 'IBM Plex Sans', TikTokDisplayFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: rgb(22, 24, 35);
    margin-top: 24px;
}
.desc {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
}

.userIcon {
    width: 90px;
    height: 90px;
}

.dark {
    .title,
    .desc,
    .icon {
        color: var(--text-white);
    }
}
