.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 8px 8px;
    border-top: 1px solid rgb(234, 235, 236);
}
.header {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 16px;
}
.body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    padding-right: 4px;
}

/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
//  mobile
@media (max-width: 740px) {
    .wrapper {
        display: none;
    }
}
