.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.follow-btn {
    padding: 6px 16px;
}

.body {
    margin-top: 12px;
    color: #161823;
}

.nickname {
    font-size: 18px;
}

.check {
    font-size: 14px;
    color: rgb(32, 213, 236);
    margin-left: 4px;
}

.name {
    font-size: 14px;
}

.analytics {
    margin-top: 10px;
    font-size: 16px;
}

.value ~ .value {
    margin-left: 20px;
}
.dark {
    .name,
    .nickname,
    .value,
    .analytics {
        color: var(--text-white);
    }
}
